body {
            background-image: url('bg.png');
            background-repeat: repeat; /* This will tile the image */
			background-size: 200px auto;
			font-family: Arial;
 }
 

.sigma {
border-color: white;
border-style: solid;
}

.navbutton {
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}

.update {
	color: grey;
}

.easter1 {
	z-index: 3;
	position: absolute;
	left:720;
	top:135;
	opacity: 0;
}

.container {
            position: relative;
        }